<!DOCTYPE html>
<html>
<head>
  <title>Tiere</title>
 
  <script src="scripts.js"></script>
</head>
<body>
  <h1>Gehege</h1>
  <div class="container">
  <table id="tier">
    <tr>
      <th>Gehege Numer</th>
      <th>Name</th>
      <th>Größe</th>
      <th>kapazität</th>
      <th>Bezeichnung</th>
      <th>gefahrenklasse</th>
       
    </tr>
    <% gehege.forEach((gehege) => { %>
      <tr>
        <td><%= gehege.gehege_nr %></td>
        <td><%= gehege.gehege_name %></td>
        <td><%= gehege.größe %></td>
        <td><%= gehege.kapazität %></td>
        <td><%= gehege.bezeichnung %></td>
        <td><%= gehege.gefahrenklasse %></td>
         
        <td>
          <form action="/gehege/delete/<%= gehege.gehege_nr %>" method="POST">
            <button type="submit">Delete</button>
          </form>
        </td>
      </tr>
    <% }); %>
  </table>
</div>
  <button id = "d"><a href="/gehege/add">Add gehege</a> </button></body></br>
  
</body>
</html>
