<!DOCTYPE html>
<html>
<head>
  <title>Tiere</title>
   
  <script src="scripts.js"></script>
</head>
<body>
  <h1>Tiere</h1>
  <div class="container">
  <table id="tier">
    <tr>
      <th>Tiere ID</th>
      <th>Bezeichnung</th>
      <th>Geburtsdatum</th>
      <th>Geschlecht</th>
      <th>Größe</th>
      <th>Gewicht</th>
      <th>Kategorie ID</th>
      <th>Gehege Nr</th>
      <th>Actions</th>
    </tr>
    <% tiere.forEach((tier) => { %>
      <tr>
        <td><%= tier.tiere_id %></td>
        <td><%= tier.bezeichnung %></td>
        <td><%= formatDate(tier.geburtsdatum) %></td>
        <td><%= tier.geschlecht %></td>
        <td><%= tier.größe %></td>
        <td><%= tier.gewicht %></td>
        <td><%= tier.kategorie_id %></td>
        <td><%= tier.gehege_nr %></td>
        <td>
          <form action="/tiere/delete/<%= tier.tiere_id %>" method="POST">
            <button type="submit">Delete</button>
          </form>
        </td>
      </tr>
    <% }); %>
  </table>
  </div>
  <button id = "d"><span><a href="/tiere/add">Add Tier</a></span> </button> </br>
   
</body>
</html>
